<?xml version="1.0" encoding="utf-8"?>
<restaurant name="Жемчужина">
    <menu>
        <section name = "Холодные закуски" id="0">

            <dish>
                <photo />
                <name>Ассорти рыбное</name>
                <desc>Слабосоленая форель, семга</desc>
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                        <value>20</value>
                        <value>15</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Тарталетки с красной икрой</name>
                <desc>Тарталетки с красной икрой</desc>
                <portion>
                    <weight units="грамм">
                        <value>60</value>
                        <value>50</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Закуска по-русски</name>
                <desc>Кусочки атлантической сельди с отварным картофелем, луком, лимоном и зеленью</desc>
                <portion>
                    <weight units="грамм">
                        <value>70</value>
                        <value>50</value>
                        <value>2</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Куриный рулет</name>
                <desc>Куриный рулет собственного производства</desc>
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                        <value>50</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Бастурма</name>
                <desc>Вяленая вырезка из говяжьего мяса</desc>
                <portion>
                    <weight units="грамм">
                        <value>50</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Ассорти мясное</name>
                <desc>Нарезка из буженины, бастурмы, куриного рулета собственного производства и колбасы</desc>
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                        <value>30</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Язык отварной</name>
                <desc>Нарезка нежного говяжьего языка, подается с хреном</desc>
                <portion>
                    <weight units="грамм">
                        <value>80</value>
                        <value>20</value>
                        <value>1</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Ассорти баклажаны</name>
                <desc>
                    Жаренные баклажаны с помидорами
                    1. с помидорами
                    2. с чесноком
                    3. с орехами
                </desc>
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Соленья по-домашнему</name>
                <desc>Маринованные овощи</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Бабушкины угощения</name>
                <desc>Ассорти из маринованных грибов</desc>
                <portion>
                    <weight units="грамм">
                        <value>120</value>
                        <value>20</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Сырная тарелка</name>
                <desc>Сыры Чечел, дор блю, российский, мраморный</desc>
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Брынза</name>
                <desc>Рассольный сыр, изготавливаемый из овечьевого молока</desc>
                <portion>
                    <weight units="грамм">
                        <value>75</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Зелень</name>
                <desc>Кинза, лук, петрушка, укроп, базилик</desc>
                <portion>
                    <weight units="грамм">
                        <value>30</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Ассорти овощное</name>
                <desc>Свежие помидоры, болгарский перец, огурцы, редис и зелень</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Овощной букет</name>
                <desc>Корейская морковь, капуста, фунчоза</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Овощи по армянски</name>
                <desc>Мелко нарезанные свежие помидоры, огурцы, болгарский перец, укроп, базилик, кинза, лист салата, зелень</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>40</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Сеньор Помидор</name>
                <desc>Помидор, фаршированный сырным муссом</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Фестиваль салатов</name>
                <desc />
                <portion>
                    <weight units="грамм">
                        <value>400</value>
                        <value>10</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Оливки, маслины</name>
                <desc />
                <portion>
                    <weight units="грамм">
                        <value>50</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Лимон</name>
                <desc />
                <portion>
                    <weight units="грамм">
                        <value>60</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <desc />
                <name>Мацони</name>
                <portion>
                    <weight units="грамм">
                        <value>300</value>
                    </weight>
                </portion>
                <price />
            </dish>

        </section>
        <section name = "Горячие закуски" id="1">

            <dish>
                <photo />
                <name>Лобио с шампиньонами</name>
                <desc>Фасоль с шампиньонами и грецким орехом</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price currency="руб.">
                    <value>105</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Жульен</name>
                <desc>
                    1. с курицей
                    2. с грибам
                </desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>5</value>
                    </weight>
                </portion>
                <price currency="руб.">
                    <value>145</value>
                    <value>155</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Ахтамар мясной</name>
                <desc>Колбаса, ветчина, буженина, сыр, запеченые на мангале в лаваше</desc>
                <portion>
                    <count>1</count>
                </portion>
                <price currency="руб.">
                    <value>165</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Ахтамар с овощами</name>
                <desc>Сыр, помидоры, зелень, запеченые на мангале в лаваше</desc>
                <portion>
                    <count>1</count>
                </portion>
                <price currency="руб.">
                    <value>150</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Сюрприз</name>
                <desc />
                <portion>
                    <count>1</count>
                </portion>
                <price currency="руб.">
                    <value>260</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Креветки</name>
                <desc>
                    1. с отварные
                    2. с жаренные
                </desc>
                <portion>
                    <weight units="грамм">
                        <value>120</value>
                        <value>30</value>
                    </weight>
                </portion>
                <price currency="руб.">
                    <value>135</value>
                    <value>155</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Мидии по турецки</name>
                <desc>Мидии, фаршированные сыром и грецким орехом</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                        <value>30</value>
                    </weight>
                </portion>
                <price currency="руб.">
                    <value>190</value>
                </price>
            </dish>

            <dish>
                <photo />
                <name>Эскарго</name>
                <desc>Виноградные улитки, фаршированные по бургундски</desc>
                <portion>
                    <portion>
                        <count>12</count>
                    </portion>
                </portion>
                <price currency="руб.">
                    <value>230</value>
                </price>
            </dish>

        </section>

        <section name = "Завтраки" id="2">
            <dish>
                <photo />
                <name>Глазунья</name>
                <desc>2 яйца(на выбор: ветчина, сыр, помидоры)</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Омлет</name>
                <desc />
                <portion>
                    <weight units="грамм">
                        <value>100</value>
                    </weight>
                </portion>
                <price />
            </dish>

            <dish>
                <photo />
                <name>Блинчики с мясом</name>
                <desc>Жареные блинчики с мясом</desc>
                <portion>
                    <weight units="грамм">
                        <value>150</value>
                    </weight>
                </portion>
                <price />
            </dish>

        </section>

        <section name = "Салаты" id="3" />
        <section name = "Супы" id="4" />
        <section name = "Рыбные блюда" id="5" />
        <section name = "Мясные блюда" id="6" />
        <section name = "Гарниры" id="7" />
        <section name = "Блюда на мангале" id="8" />
        <section name = "От шеф-повара" id="9" />
        <section name = "Приложение" id="10" />
        <section name = "Десерт" id="11" />
    </menu>
</restaurant>